@import "../../styles/variables";

.LeftSide {
  display: grid;
  grid-template: 40px 1fr / 1fr;
  padding-top: 10px;
  overflow: hidden;
  background: $medium-gray;

  @media screen and (max-width: 1200px) {
    height: calc(100vh - 74px);
  }
}