@import "../../styles/variables";

.RightSide {
  display: grid;
  grid-template: 40px 1fr / 1fr;
  padding-top: 10px;
  background: $light-gray;

  @media screen and (max-width: 1200px) {
    grid-template: auto 1fr / 1fr;
    height: 100%;
  }
}